<html>
   <head>
      <title>Keewee Scraper</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="container">
         <form id="form" action = "{{ url_for('add_ogp') }}" method = "POST" enctype='application/json' style="max-width: 400px">
            <h3>OGP Information</h3>
            <div class="form-group">
               <label for="page">Page</label>
               <input type="url" class="form-control" id="page" name="page" aria-describedby="pageHelp" placeholder="Enter page url">
               <small id="pageHelp" class="form-text text-muted"> This page will be scraped</small>
            </div>

            <input id="submit" type = "button" value = "submit" class="btn btn-primary" /><br>
         </form>
         <div class="form-group">
            <label for="response">Response</label>
            <textarea class="form-control" id="response" rows="10"></textarea>
        </div>
      </div>
      <script>
       $(document).ready(function(){
           // click on button submit
           $("#submit").on('click', function(){
               // send ajax
               $.ajax({
                   url: '/stories?url='+ $('#page').val(), // url where to submit the request
                   type : "POST", // type of action POST || GET
                   dataType : 'json', // data type
                   contentType: 'application/json; charset=utf-8',
                   success : function(result) {
                       // you can see the result from the console
                       // tab of the developer tools
                       $('#response').text(JSON.stringify(result));
                   },
                   error: function(xhr, resp, text) {
                       $('#response').text('Error');
                   }
               })
           });
       });

   </script>
   </body>
</html>